h3{
    font-size: 25px !important;
}

.btn-info:hover{
     background-color: rgb(158, 235, 43);
}

canvas{
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(255, 0, 128);}
    to{box-shadow: 1px 1px 38px rgb(0, 174, 255);}
}